.Cleverclogsicon {
  text-align: center;
  background: linear-gradient(90deg, #FFF 50%, #DFDFDF 50%);
  border-bottom: 1px solid #E9E1E5;
}

.Cleverclogsicon-header {
  display: inline-flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.text {
  text-align: left;
  padding-top: 100px;
  padding-bottom: 100px;
}