.Counter {
  text-align: center;
  border-bottom: 1px solid #E9E1E5;
}

.Counter-header {
  padding: 60px 0;
  display: inline-block;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}